<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <p class="lead">
      Pin a footer to the bottom of the viewport in desktop browsers with this
      custom HTML and CSS. A fixed navbar has been added with
      <code>padding-top: 60px;</code> on the <code>main &gt; .container</code>.
    </p>
  </div>
</main>
